@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: white;

}

h2 {
    color: black;
}

h3 {
    color:darkslategrey;
}

label {
    color: #777;
}

input {
    margin-left: 10px;
}

#main {
    margin: 20px;
    background-color: whitesmoke;
}

#title {
    display: flex;
    width: 99%;
    align-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#questions {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.sub {
    
}

.template {
    margin-left: 20px;
}

.extra_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#button-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

button {
    margin: 20px;
    padding: 5px;
    border-color: darkslategray;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: darkslategray;
    color: whitesmoke;
}

